JENKINS_ADMIN_USER=admin
JENKINS_ADMIN_PASSWORD=admin123

CFY_MANAGER_URL=http://192.168.49.2
CFY_USERNAME=admin
CFY_PASSWORD=admin
CFY_TENANT=default_tenant
CFY_API_VERSION=v3.1
CFY_INSECURE=true
GITOPS_MULTI_DEPLOYMENT_MODE=all

ENABLE_JENKINS_GIT_JOB=true
JENKINS_GIT_REPO_URL=https://github.com/shashikanth-vh/cloudify-jenkins-integration.git
JENKINS_GIT_BRANCH=main
JENKINS_POLL_SCHEDULE=H/2 * * * *

DEFAULT_DEPLOYMENT_FILE=deployments/hello-dev.yaml
DEFAULT_ACTION=create-environment
DEFAULT_WORKFLOW=install
